<!--
    Made by https://github.com/teraprath
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Stats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/min/style.min.css') }}">
    <script src="https://kit.fontawesome.com/a0a804109e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt="Logo">
                <p>DCSTATS</p>
            </a>
        </div>

        <div class="search-bar">
            <form method="post">
                <input type="text" name="username" id="username" placeholder="Search for user" required>
                <button type="submit" id="search"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </header>
    <section id="main">
        <div class="headline-container">
            <h1>Ranking</h1>
            <h2>There are <span class="counter">{{ counter }}</span> user in the database</h2>
        </div>

        {% if list == [] %}
            <p>No results for "{{ username }}".</p>
        {% else %}
        {% for user in list %}
        <div class="user">
            <div class="avatar-container">
                <img class="avatar" id="avatar" src="{{ user[8] }}" alt="Avatar">
            </div>
            <div class="user-container">
                <p id="username" class="username">{{ user[2] }}<span id="tag" class="tag">#{{ user[3] }}</span></p>
                <div class="stats">
                    <div class="box">
                        <p class="title">Level <span class="value" id="value">{{ user[4] }}</span></p>
                    </div>
                    <div class="box">
                        <p class="title">EXP <span class="value" id="value">{{ user[5] }}/{{ user[6] }}</span></p>
                    </div>
                    <div class="box">
                        <p class="title">Ranking <span class="value" id="value">#{{ user[7] }}</span></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </section>
    <footer>
        <p>&copy; 2021 <a href="https://github.com/teraprath" target="_blank">HowToSenpai</a></p>
    </footer>
</body>
</html>